{# INICIO NAVBAR USUARIOS #}
{# INICIO ERROR LOGIN #}
{% if errorlogin == true %}
<script type="text/javascript">
$( document ).ready(function() {
    $('#errorlogin').modal('show');
});

</script>
<!-- Modal error login -->
<div class="modal fade" id="errorlogin" tabindex="-1" role="dialog" aria-labelledby="errorloginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background:url({{url}}/{{template}}/img/errors/login_form_error_bg.png) right no-repeat #fff">
      <div class="modal-header" style="border:0;">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="errorloginLabel">Eso fue un error!</h4>
      </div>
      <div class="modal-body">
        Veo que haz cometido un error, talvez sea el usuario... <br />
        tal vez la contraseña... solo intenta nuevamente.
      </div>
      <div class="modal-footer" style="border:0;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{# FIN ERROR LOGIN #}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container" style="max-width:1000px;">
        <a class="navbar-brand" href="{{url}}/inicio">Hearthstone Chile</a>
        <button type="btn btn-navbar" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav">
            <li {%if active == 'home'%} class="active"{%endif%}><a href="{{url}}/inicio">Inicio</a></li>
            <li {%if active == 'forum'%} class="active"{%endif%}><a href="{{url}}/foros">Foros</a></li>
            <li {%if active == 'bracket'%} class="active"{%endif%}><a href="{{url}}/competencia">Competencias</a></li>
        </ul>
        
            <ul class="nav navbar-nav navbar-right">
            {% if sesion is empty %}
                {# INICIO LOGIN USUARIOS #}
                <li>
                    <a href="#" data-toggle="modal" data-target="#mlogin">
                        Iniciar sesión
                    </a>
               </li>
               {# FIN LOGIN USUARIOS #}
                <li><a href="{{url}}/registro">Registrarse</a></li>
            {% else %}
            <li><a href="#">Bienvenid@ </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{sesion}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{url}}/perfil/{{nickclean}}">Perfil</a></li>
                      <li><a href="#">Mensajes <span class="badge">0</span></a></li>
                      <li><a href="#">Mi página</a></li>
                      {%if acceso == true%}<li><a href="{{url}}/modulos/adm">Administracion</a></li>{%endif%}
                      <li class="divider"></li>
                      <li><a href="{{url}}/destruir">Cerrar sesión</a></li>
                    </ul>
                </li>
            {% endif %}
            </ul>
        
        </div>
    </div>
</nav>
{# FIN NAVBAR USUARIOS #}
{# MODAL LOGIN #}
{% if sesion is empty %}
<div class="modal fade" id="mlogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Iniciar sesión</h4>
      </div>
      <form style="margin: 0px" accept-charset="UTF-8" action="{{url}}/conectar" method="post">
      <div class="modal-body">
          <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" /></div>
              <fieldset class='textbox' style="padding:10px">
                  <input class="form-control input-sm" style="margin-bottom:10px" type="text" placeholder="Nick" name="nick" />
                  <input class="form-control input-sm" style="margin-bottom:10px" type="password" placeholder="Contraseña" name="pass" />
              </fieldset>
              <p style="padding:10px;"><a href="{{twitch_auth}}">
                    <button class="btn btn-default" style="background: -webkit-gradient(linear,left top,left bottom,from(#8266b6),to(#533787));background: -moz-linear-gradient(top,#8266b6,#533787);background: -o-linear-gradient(top,#8266b6,#533787);background: linear-gradient(top,#8266b6,#533787);background-color: #6a4e9e;border-top: 1px solid #5b3f8f;border-left: 1px solid #412771;border-right: 1px solid #412771;border-bottom: 1px solid #2a1453;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);text-shadow: 0 1px 0 rgba(0,0,0,0.75);-moz-text-shadow: 0 1px 0 rgba(0,0,0,0.75);-webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.75);color: #fff;">
                    <img src="{{url}}/{{template}}/img/icons/twitch_square_16.png" style="margin-right:5px;"/>Iniciar sesión con Twich TV</button>
                    </a>
              </p>
              <p style="padding:10px;"><a href="{{facebook_auth}}">
                    <button class="btn btn-default" style="background: -webkit-gradient(linear,left top,left bottom,from(#4c66a4),to(#3c5996));background: -moz-linear-gradient(top,#4c66a4,#3c5996);background: -o-linear-gradient(top,#4c66a4,#3c5996);background: linear-gradient(top,#4c66a4,#3c5996);background-color: #3a4b7a;border-top: 1px solid #3a4b7a;border-left: 1px solid #3a4b7a;border-right: 1px solid #3a4b7a;border-bottom: 1px solid #3a4b7a;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(0,0,0,0.15);text-shadow: 0 1px 0 rgba(0,0,0,0.75);-moz-text-shadow: 0 1px 0 rgba(0,0,0,0.75);-webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.75);color: #fff;">
                    <img src="{{url}}/{{template}}/img/icons/facebook_square_16.png" style="margin-right:5px;"/>Inicia sesión con Facebook</button>
                    </a>
              </p>
              
              <p><a href="">Olvidé mi contraseña</a> - <a href="{{url}}/registro">Crear una cuenta</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button class="btn btn-primary" name="iniciar" type="submit">Conectar</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}