{% spaceless %}
{% embed '_header.twig' %}
    {% block titulo %}
        <title>Temas {{ ls.categoria.nombre }}</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{url}}/plugins/editor/minified/themes/default.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{url}}/css/bootstrap-multiselect.css" type="text/css" />
        <link rel="stylesheet" href="{{url}}/{{template}}/css/forums.css" type="text/css" />
    {% endblock %}
    {% block js %}
        <script type="text/javascript" src="{{url}}/js/jquery.confirm.min.js"/></script>
        <script src="{{url}}/js/bootstrapValidator.js" type="text/javascript"></script>
        <script src="{{url}}/plugins/editor/minified/jquery.sceditor.bbcode.js"></script>
        <script type="text/javascript" src="{{url}}/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript">
        // Source: http://www.backalleycoder.com/2011/03/20/link-tag-css-stylesheet-load-event/
            var loadCSS = function(url, callback){
                var link = document.createElement('link');
                link.type = 'text/css';
                link.rel = 'stylesheet';
                link.href = url;
                link.id = 'theme-style';

                document.getElementsByTagName('head')[0].appendChild(link);

                var img = document.createElement('img');
                img.onerror = function(){
                    if(callback) callback(link);
                }
                img.src = url;
            }

            $(document).ready(function() {
                var initEditor = function() {
                    $("textarea").sceditor({
                        plugins: 'bbcode',
                        style: "{{url}}/plugins/editor/minified/jquery.sceditor.default.min.css",
                        emoticonsRoot: "{{ url }}/"
                    });
                };

                initEditor();
            });
        </script>
    {% endblock %}
{% endembed %}
<div class="row">
<ol class="breadcrumb">
  <li><a href="{{ url }}/foros">Foros</a></li>
  <li class="active">{{ ls.categoria.nombre }}</li>
</ol>
<h2>{{ ls.categoria.nombre }}</h2>
    <div class="sep"></div>
    <div class="panel panel-default panel_bg">
        <table class="table table-hover table-striped">
            <thead>
                <tr><th></th>
                    <th>Asunto</th>
                    <th>Autor</th>
                    <th>Respuestas</th>
                    <th>Visitas</th>
                    <th>Ultima publicacion</th>
                </tr>
            </thead>
            <tbody>
            {% for tema in ls.temas %}
            {% set k = loop.index %}
                <tr{% if k is not odd %} class="active"{% endif %}>
                <td style="width:30px;">
                    <span class="glyphicon glyphicon-{{ tema.icono }}"></span>
                </td>
                    <td>
                        {% if tema.cerrado == 1 %}
                        <span class="label label-danger margen_right10"><span class="glyphicon glyphicon-lock"></span></span>
                        {% endif %}
                        {% if tema.fijo == 1 %}
                        <span class="label label-success margen_right10">Fijo</span>
                        {% endif %}
                        <a href="{{ url }}/tema/{{tema.id}}/{{tema.tituloclean}}" id="tematitulo{{ k }}" data-toggle="tooltip" data-placement="top" title="Ver tema {{ tema.titulo }}">{{ tema.titulo }}</a>
                    </td>
                    <td>
                        <a href="{{ url }}/perfil/{{ tema.autor }}">{{tema.nick}}</a>
                    </td>
                </tr>
                <script type="text/javascript">
                    $('#tematitulo{{ k }}').tooltip('hide');
                </script>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if sesion is not empty %}
    <button class="btn btn-primary" id="btncomenzarnuevotema" type="submit">Comenzar Nuevo Tema</button>
    <script type="text/javascript">
        $("#btncomenzarnuevotema").click(function(){
            $("#txtnuevotema").fadeIn();
            $("#btncomenzarnuevotema").fadeOut();
        });

    </script>
    <div id="txtnuevotema" style="display:none;width:600px;">
    <h3>Crear una nueva discución</h3>
        <form name="formnuevotema" id="formnuevotema" method="post" role="form">
            <input type="text" name="txttitulo" placeholder="Titulo" required="required" class="form-control margen_bot30" />
            <textarea name="txtnuevotema" style="width:600px;height:300px;" required="required"></textarea>
            <label for="rdiconos" class="margen_top30">Iconos</label>
            <div id="rdiconos" class="margen_bot30">
                <input type="radio" name="rdicono" value="none" checked="checked" /><span class="ds">Ninguno</span>
                <input type="radio" name="rdicono" value="music" /><span class="glyphicon glyphicon-music ds"></span>
                <input type="radio" name="rdicono" value="fire"><span class="glyphicon glyphicon-fire ds"></span>
                <input type="radio" name="rdicono" value="heart"><span class="glyphicon glyphicon-heart ds"></span>
                <input type="radio" name="rdicono" value="star"><span class="glyphicon glyphicon-star ds"></span>
                <input type="radio" name="rdicono" value="search"><span class="glyphicon glyphicon-search ds"></span>
                <input type="radio" name="rdicono" value="gift"><span class="glyphicon glyphicon-gift ds"></span>
                <input type="radio" name="rdicono" value="question-sign"><span class="glyphicon glyphicon-question-sign ds"></span>
                <input type="radio" name="rdicono" value="film"><span class="glyphicon glyphicon-film ds"></span>
                <input type="radio" name="rdicono" value="comment"><span class="glyphicon glyphicon-comment ds"></span>
                <input type="radio" name="rdicono" value="leaf"><span class="glyphicon glyphicon-leaf ds"></span>
            </div>
            {% if acceso == 1 %}
            <label for="chkfijar">Fijar Tema</label>
            <div class="margen_bot30">
                <input type="checkbox" id="chkfijar" name="chkfijar" value="0" onclick="if(this.checked==true){this.value=1;}else {this.value=0;}">
            </div>
            <label for="chkcerrar">Cerrar Tema</label>
            <div class="margen_bot30">
                <input type="checkbox" id="chkcerrar" name="chkcerrar" value="0" onclick="if(this.checked==true){this.value=1;}else {this.value=0;}">
            </div>
            <label for="chkactivo">Mostrar/Ocultar Tema</label>
            <div class="margen_bot30">
                <input type="checkbox" id="chkmostrar" name="chkmostrar" checked="checked" value="1" onclick="if(this.checked==true){this.value=1;}else {this.value=0;}">
            </div>
            <div class="margen_bot30">
                <a href="javascript:void(0)" onclick="if ($(this).parent().find('div:first').is(':hidden')){$(this).parent().find('div:first').slideDown(300);$('#ce').removeClass('glyphicon glyphicon-plus').addClass('glyphicon glyphicon-minus red');}else{$(this).parent().find('div:first').slideUp(300);$('#ce').removeClass('glyphicon glyphicon-minus red').addClass('glyphicon glyphicon-plus');}">
                    <span class="margen_bot30"><span id="ce" class="glyphicon glyphicon-plus"></span> Agregar encuesta</span>
                </a>
                <div name="spoiler" style="display:none;">
                    <label for="txtpregunta">Pregunta</label>
                    <input type="text" id="txtpregunta" name="txtpregunta" class="form-control">
                </div>
            </div>
            {% endif %}
            <input type="hidden" name="ok" value="1">
            <button class="btn btn-primary" type="submit" name="btn">Crear nuevo tema</button>
        </form>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">Debes loguearte para comenzar un nuevo tema</div>
    {% endif %}
</div>

{% include '_footer.twig' %}
{% endspaceless %}