{% spaceless %}
{% set active = 'bracket' %}
{% embed '_header.twig' %}
{% block titulo %}<title>Bracket</title>{% endblock %}
{% block css %} {% endblock %}
{% block js %} {% endblock %}
{% endembed %}
{%set id = 1%}
{%for torneo in ls.torneos %}
{% set registrados = torneo.registrados * 100 / torneo.equipos %}
{% set confirmados = torneo.confirmados * 100 / torneo.equipos %}
<div class="jumbotron" style="background:url('{{url}}/plugins/binarybeast/img/bgt.jpg');color:white;box-shadow: 1px 1px 10px #000;">
  <h1>{{torneo.titulo}}</h1>
  <p>{{torneo.descripcion|slice(0,80)}}...</p>
  <span class="label label-danger">{% if torneo.terminado == 1 %}Finalizado{% else %}Inscripciones abiertas{% endif %}</span>
  <span class="label label-info">Cupos: {{torneo.equipos}}</span>
  <span class="label label-warning">Registrados: {{ torneo.registrados }}</span>
  <span class="label label-success">Confirmados: {{ torneo.confirmados }}</span>
  <span class="label label-danger">Estado: {% if torneo.activo == 0 %}Inactivo{% else %}Activo{% endif %}</span>
  <span class="label label-default"></span>
  <p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" id="confirmados{{id}}" style="width: {{confirmados}}%" data-toggle="tooltip" data-placement="top" title="El {{confirmados}}% de los jugadores ha confirmado">
            <span class="sr-only">{{ confirmados }}%</span>
        </div>
        <div class="progress-bar progress-bar-warning" id="registrados{{id}}" style="width: {%if registrados >= confirmados%}{{registrados-confirmados}}%{%else%}{{registrados}}%{%endif%}" data-toggle="tooltip" data-placement="top" title="Jugadores registrados {{torneo.registrados}}">
            <span class="sr-only">{{ registrados }}%</span>
        </div>
      </div>
  </p>
  <p><a href="{{url}}/brackets/{{ torneo.id }}/{{ torneo.link }}" class="btn btn-primary btn-lg" role="button">Ver bracket</a></p>
</div>
<script>
$('#confirmados{{id}}').tooltip('hide');
$('#registrados{{id}}').tooltip('hide');
</script>
{% set id = id+1 %}
{% endfor %}
{% include '_footer.twig' %}
{% endspaceless %}